html {
    background: url('/media/images/leipzig_2010.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.profile {
    margin-left: 390px;
    top: 250px;
    width: 500px;
}

