<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="de-DE">
    <head profile="http://gmpg.org/xfn/11">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <title>{{ page.nick }}</title>
        <link rel="stylesheet" type="text/css" media="screen" href="/css/about.css" />
        <link rel="stylesheet" type="text/css" media="screen" href="/css/{{ page.css }}.css" />
        <link rel="index" title="Jonglieren in Ulm" href="http://www.jonglieren-in-ulm.de/" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    </head>

    <body>
        <div class="menu">
            <ul class="languages">
                <li><a href="/en/about/{{ page.css }}.html">English</a></li>
                <li><a href="/de/about/{{ page.css }}.html">Deutsch</a></li>
            </ul>
        </div>
        <div class="profile" style="
            {% if page.lang == 'en' %}
            background-color: rgba(127, 255, 212, 0.66);
            {% endif %}
            {% if page.lang == 'de' %}
            background-color: rgba(255, 79, 0, 0.66);
            {% endif %}
            ">
            <div class="profile-head">
                <h1>{{ page.nick }}</h1>
            </div>
            <div class="profile-content">
                {{ content }}
            </div>
        </div>
    </body>
</html>

