<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="de-DE">
    <head profile="http://gmpg.org/xfn/11">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <base href="{{ site.baseurl }}" />
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" media="screen" href="{{ site.baseurl }}/css/style.css" />
        <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/favicon.ico" />
    </head>

    <body>
        <div id="all">
            <div id="main">
                <div id="content">
                    <h1>{{ page.title }}</h1>
                    {{ content }}
                </div>

                <div id="sidebar">
                    <div id="title">
                        <p><strong><a href="{{ site.baseurl }}/">Jonglieren in Ulm</a></strong></p>
                        <p>Für alle, die sich ein bisschen oder mehr für Jonglieren in Ulm interessieren.</p>
                    </div>

                    <div id="nav">
                        <ul>
                            <li><a href="{{ site.baseurl }}/." title="Aktuelles">Aktuelles</a></li>
                            <li><a href="{{ site.baseurl }}/de/mailingliste/" title="Mailingliste">Mailingliste</a></li>
                            <li><a href="{{ site.baseurl }}/de/treffen/" title="Treffen">Treffen</a>
                            <ul>
                                <li><a href="{{ site.baseurl }}/de/treffen/serrando/" title="Serrando">Serrando (Di)</a></li>
                                <li><a href="{{ site.baseurl }}/de/treffen/hochschulsport/" title="Hochschulsport (Do)">Uni-Hochschulsport (Do)</a></li>
                                <li><a href="{{ site.baseurl }}/de/treffen/poi/" title="Poi &amp; Co.">Glacis: Poi &#038; Co. (So)</a></li>
                                <li><a href="{{ site.baseurl }}/de/treffen/friedrichsau/" title="Friedrichsau">Friedrichsau (draussen)</a></li>
                            </ul>
                            </li>
                            <li><a href="{{ site.baseurl }}/de/kinder/" title="Kurse/Freizeiten für Kinder">Kurse/Freizeiten für Kinder</a>
                            <ul>
                                <li><a href="{{ site.baseurl }}/de/kinder/blaustein/" title="Blaustein">Blaustein (Mo)</a></li>
                                <li><a href="{{ site.baseurl }}/de/kinder/serrando/" title="Serrando">Serrando (Di)</a></li>
                            </ul>
                            </li>
                            <li><a href="{{ site.baseurl }}/de/conventions/" title="Rückblick Conventions Ulm">Rückblick Conventions Ulm</a></li>
                            <!--li><a href="{{ site.baseurl }}/de/emailadressen/" title="Emailadressen">Emailadressen</a></li-->
                            <li><a href="{{ site.baseurl }}/de/impressum/" title="Impressum">Impressum</a></li>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div id="footer">
                &copy; 2010 &ndash; 2013 |
                generator <a href="https://github.com/mojombo/jekyll" rel="generator">jekyll</a> |
                design <a href="http://www.forma-simplex.de/">simple</a> |
                email <a href="mailto:info@jonglieren-in-ulm.de/">info@jonglieren-in-ulm.de</a> |
                <a href="{{ site.baseurl }}/">www.jonglieren-in-ulm.de</a>
            </div>
        </div>
    </body>
</html>
